<html>
<head>
    <title>Frontend - Aula 01</title>
    <style>
			h2 {
				color: green;
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}
			td, th {
				border-bottom: 1px solid #ddd;
				text-align: center;
			}
			th {
				font-size: 18px;
				text-transform: uppercase;
			}
			tr:hover {
				background-color: coral;
			}
		</style>
</head>
<body>
<h2>Primeira Aula de Frontend na <b>Turma 1 - Edutech</b></h2>
<h3>Lista de Compras da Turma 1:</h3>

<table>
    <tr>
        <th>Código</th>
        <th>Nome Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
    </tr>
    <tr th:each="produto: ${lista}">
        <td th:text="${produto.id}" />
        <td th:text="${produto.nome_produto}" />
        <td th:text="${produto.quantidade}" />
        <td th:text="${produto.preco}" />
    </tr>
    <tr>
        <td>
            <img width="100px" src="https://static.vecteezy.com/system/resources/previews/009/596/481/original/3d-illustration-of-chocolate-icon-png.png" />
        </td>
        <td>Chocolate</td>
        <td>1</td>
        <td>5,00</td>
    </tr>
    <tr>
        <td>
            <img width="100px" src="https://static.wikia.nocookie.net/genshin-impact/images/d/d7/Item_Leite.png/revision/latest?cb=20210717010522&path-prefix=pt-br" />
        </td>
        <td>Leite</td>
        <td>1</td>
        <td>5,50</td>
    </tr>
    <tr>
        <td>
            <img width="100px" src="https://static.wikia.nocookie.net/genshin-impact/images/2/26/Item_Farinha.png/revision/latest?cb=20210715194935&path-prefix=pt-br">
        </td>
        <td>Farinha de Trigo</td>
        <td>2</td>
        <td>6,00</td>
    </tr>
</table>

<p>Lista criada na aula do dia 28/02...</p>
</body>
</html>